{% extends "template.twig" %}

{% block titulo "Haciendo Pruebas de Reportes" %}
{% block cuerpo %}
<p style="text-align: center">
    <img src="{{ img }}" style="border: 1px solid #000" />
</p>
{% endblock cuerpo %}