<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ base_url }}</title>
    </head>
    <body>
        {% block cuerpo %}
        {% endblock cuerpo %}
    </body>
</html>

