{% extends "template.twig" %}

{% block titulo "Distribución de las Edades de los Usuarios" %}
{% block cuerpo %}
<p style="text-align: center">
    <img src="{{ img }}" style="border: 1px solid #000" />
</p>
{% endblock cuerpo %}