{% extends "template.twig" %}

{% block titulo 'Nueva Factura' %}

{% block stylesheet %}
<style type="text/css">
        #factura .row-fluid{margin-bottom: 10px}
        #factura label{width: 100px;text-align: right;margin-right: 10px}
        #adicion_articulos{display: none}
    </style>
{% endblock %}

{% block cuerpo %}
    <form method="post" class="form-inline" id="factura">
        <input type="hidden" id="p_id" />
        <div class="row-fluid">
            <div class="span12">
                <label>Cédula</label><div class="input-append cedula">
                    <input type="text" name="p[cedula]" id="p_cedula"/>
                    <button class="btn" type="button">Buscar</button>
                </div>
                <button type="submit" class="btn btn-primary btn-large pull-right" disabled>Facturar</button>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12"><label>Nombre</label><input name="p[nombre]" type="text" id="p_nombre" /></div>
        </div>
        <div class="row-fluid">
            <div class="span12"><label>Edad</label><input name="p[edad]" type="number" id="p_edad" /></div>
        </div>
        <hr/>
        <div id="adicion_articulos">
            <div class="row-fluid" >
                <div class="span12"><label>Articulo</label>
                    <input type="text" id="a_nombre" placeholder="Nombre del Artículo" />
                    <input type="number" id="a_cantidad" placeholder="Cantidad" value="1" class="span2" />
                    <button type="button" class="btn" >Agregar</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ARTÍCULO</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                        <th>SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody id="articulos_factura"></tbody>
            </table>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/twig.min.js') }}"></script>
    <script type="text/javascript">
        $("#p_cedula").autocomplete({
            source: {{ personas|json_encode|raw }},
            select: function(event, ui) {
                $("#p_id").val(ui.item[0].id)
                $("#p_nombre").val(ui.item[0].nombre)
                $("#p_edad").val(ui.item[0].edad)
                $("#adicion_articulos").slideDown(500)
            }
        })

        var articuloTemplate = twig({
            data: "{{ bootstrap.articulo()|escape('js') }}"
        })

        $("#a_nombre").autocomplete({
            source: {{ articulos|json_encode|raw }},
            select: function(ul, ui) {

            }
        })

        $("#adicion_articulos button").on('click', addArticulo)

        function addArticulo() {
            if ($("#a_nombre").data('uiAutocomplete').selectedItem
                    && parseInt($("#a_cantidad").val()) > 0) {
                var item = $("#a_nombre").data('uiAutocomplete').selectedItem
                if (item[0].cantidad >= parseInt($("#a_cantidad").val())) {
                    var tr = $("[data-id=" + item[0].id + "]")
                    var art = jQuery.extend({}, item[0])
                    if (tr.size() == 0) {
                        art.cantidad = parseInt($("#a_cantidad").val())
                    } else {
                        art.cantidad = parseInt($("#a_cantidad").val()) + parseInt(tr.find('input').val())
                        $("[data-id=" + art.id + "]").remove()
                    }
                    art.subTotal = art.precio * art.cantidad
                    $("#articulos_factura").append(articuloTemplate.render(art))
                    $("#a_nombre").val('').focus()
                    $("#a_cantidad").val('1')
                } else {
                    alert('No cantidad')
                }
            }
        }
        </script>
{% endblock %}