{% extends "template.twig" %}

{% block titulo 'Nueva Factura' %}

{% block stylesheet %}
<style type="text/css">
        #factura .row-fluid{margin-bottom: 10px}
        #factura label{width: 100px;text-align: right;margin-right: 10px}
    </style>
{% endblock %}

{% block cuerpo %}
    <form method="post" class="form-inline" id="factura">
        <input type="hidden" id="p_id" />
        <div class="row-fluid">
            <div class="span12">
                <label>Cédula</label><div class="input-append cedula">
                    <input type="text" id="p_cedula"/><button class="btn" type="button">Buscar</button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6"><label>Nombre</label><input type="text" id="p_nombre" /></div>
        </div>
        <div class="row-fluid">
            <div class="span6"><label>Edad</label><input type="number" id="p_edad" /></div>
        </div>
        <hr/>
        <div class="row-fluid" >
            <div class="span6"><label>Articulo</label><input type="text" id="a_nombre" /></div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ARTÍCULO</th>
                    <th>PRECIO</th>
                    <th>CANTIDAD</th>
                    <th>SUBTOTAL</th>
                </tr>
            </thead>
            <tbody id="articulos_factura"></tbody>
        </table>
    </form>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/twig.min.js') }}"></script>
    <script type="text/javascript">
        $("#p_cedula").autocomplete({
            source: {{ personas|json_encode|raw }},
            select: function(event, ui) {
                $("#p_id").val(ui.item[0].id)
                $("#p_nombre").val(ui.item[0].nombre)
                $("#p_edad").val(ui.item[0].edad)
            }
        })

        var articuloTemplate = twig({
            data: "{{ bootstrap.articulo()|escape('js') }}"
        })

        $("#a_nombre").autocomplete({
            source: {{ articulos|json_encode|raw }},
            select: function(event, ui) {
                ui.item[0].subTotal = ui.item[0].precio
                $("#articulos_factura").append(articuloTemplate.render(ui.item[0]))
                $(this).val('')
                return false;
            }
        })
        </script>
{% endblock %}