<div class="section-container">
    <section>
        <p class="title"><a href="{{ path('') }}">Nueva Factura</a></p>
    </section>
    <section>
        <p class="title"><a href="{{ path('personas') }}">Listado de Personas</a></p>
    </section>
    <section>
        <p class="title"><a href="{{ path('articulos') }}">Listado de Artículos</a></p>
    </section>
    <section>
        <p class="title"><a href="{{ path('reportes/mascompras') }}">5 Personas con + Gastos</a></p>
    </section>
</div>
