<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>PHPLOT con Twig y Doctrine2</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <div class="page-header"><h1>{% block titulo "" %}</h1></div>
            {% include "flashes.twig" %}
            {% block cuerpo %}
            {% endblock cuerpo %}
        </div>
        <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>

